<div class="category-tile">
  {{#link-to 'junks' category.category}}
    <img src="{{category.image}}" alt="categories" />
    {{#if isTitleShowed}}
      <div class="category-description">
        <span class="category-tile"><h1>{{category.category}}</h1></span>
      </div>
    {{/if}}
  {{/link-to}}
</div>
