<div class="junk-tile">
    <img src="{{junk.image}}" alt="{{junk.title}}" class="junk-image" />
    {{#if isTitleShowed}}
      <div class="junk-description">
        <h4>{{junk.title}}</h4>
      </div>
    {{/if}}
</div>
