<div class="col-md-4">
  <div class="junk-tile">
    <div class="junk-image">
      <img src="{{junk.image}}" alt="{{junk.title}}" class="junk-image" />
    </div>
    <div class="junk-description">
      <h4>{{junk.title}}</h4>
    </div>
  </div>
</div>
