<form>
  <div class="form-group">
    <label for="title">title</label>
    {{input value=title id=title placeholder=Junk title}}
  </div>
  <div class="form-group">
    <label for="title">description</label>
    {{textarea value=description id=description rows="10" cols="80" placeholder=Junk description}}
  </div>
</form>
